.zone-erreur {
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-style: dotted;
    color: red;
    font-size: medium;
    font-style: italic;
    margin-bottom: 2rem!important;
}

.zone-info {
    border: 1px solid green;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-style: dotted;
    color: green;
    font-size: medium;
    font-style: italic;
    margin-bottom: 2rem!important;
}

form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
  }
  form .form-control:focus {
    border-bottom: 2px solid #2196f3; /* bleu Material */
    box-shadow: none;
    outline: none;
  }


.section-card {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.03);
  }

.navbar-nav .nav-link {
transition: all 0.2s ease-in-out;
font-weight: 500;
font-size: 1rem;
border-radius: 0.375rem;
padding: 0.5rem 0.75rem;
color: white !important;
}

.navbar-nav .nav-link:hover {
background-color: rgba(255, 255, 255, 0.1);
transform: scale(1.03);
text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.bg-glass {
background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border-radius: 1rem;
}



  